<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="geo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="maps.google.com"
                android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".HealthTrackRApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthTrackR"
        tools:targetApi="31">
        <activity
            android:name=".ui.treatments.guidelines.ModifyGuidelineActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.treatments.guidelines.AddGuidelineActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.treatments.medicines.ModifyMedicineNotificationsActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.treatments.medicines.ModifyMedicineActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.treatments.medicines.AddMedicineActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.treatments.ModifyTreatmentActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.treatments.AddTreatmentActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.account.ChangePasswordActivity"
            android:exported="false"
            android:parentActivityName=".ui.account.ModifyAccountActivity" />
        <activity
            android:name=".ui.account.ModifyAccountActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LogInActivity"
            android:exported="false"
            android:parentActivityName=".ui.AuthenticationActivity" />
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false"
            android:parentActivityName=".ui.AuthenticationActivity" />
        <activity
            android:name=".ui.AuthenticationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.notifications.NotificationPublisher"
            android:exported="false">
            <intent-filter>
                <action android:name="com.javierjordanluque.healthtrackr.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.notifications.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>